.backgound-page {
  background-color: #92caf7; 
  width: 700px;
  height: 1500px;
}

.layer-one {
  width: 100%;
  height: 600px;
  backgound-color: #4a6ded;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.layer-two {
  width: 230px;
  height: 400px;
  background-color: #FFFFFF; 
  border-radius: 15px;
  margin-top: 15px;
  display: inline-block;
}

div h4 {
  text-align: center;
}

div h5 {
  text-align: center;
}
